{% extends 'navbar.html' %}

{% block title %}Annuaire de l'AVMG{% endblock %}

{% block content %}

<div class="text-center">
    <h1>Annuaire de l'AVMG</h1>
    <form action="search" method="get" role="form">
        <div class="form-group">
            <label for="name-input">Nom</label>
            <input name="name" id="name-input"></input>
        </div>
        <div class="form-group">
            <label for="school-select">Gymnase</label>
            <select name="school" id="school-select">
                <option value=""></option>
                {% for s in schools %}
                <option value="{{ s.pk }}">{{ s.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="course-select">Branche</label>
            <select name="course" id="course-select">
                <option value=""></option>
                {% for s in courses %}
                <option value="{{ s.pk }}">{{ s.name }}</option>
                {% endfor %}
            </select>

        </div>

        <button type="submit" class="btn btn-default">Recherche</button>
    </form>

</div>

{% endblock %}

