{% extends 'navbar.html' %}

{% block title %}Résultats de recherche{% endblock %}

{% block content %}
<h1>Résultats de recherche</h1>

{% if teachers %}

<a href="{{ download_url }}" class="btn btn-default"><span class="glyphicon glyphicon-download"></span> Télécharger</a></p>

<table class="table table-striped">
    <tr>
        <th>Nom</th>
        <th>Gymnase(s)</th>
        <th>Branche(s)</th>
        <th>Ville</th>
        <th>Code postal</th>
        <th>Adresse</th>
        <th>Email</th>
        <th>Téléphone</th>
    </tr>

    {% for t in teachers %}
    <tr> 
        <td>{{ t.complete_name }}</td>
        <td>
            {% for obj in t.schools.all %}{{ obj.name }}<br>{% endfor %}
        </td>

        <td>
            {% for obj in t.courses.all %}{{ obj.name }}<br>{% endfor %}
        </td>

        <td>{{ t.city }}</td>
        <td>{{ t.zip_code }}</td>
        <td>{{ t.street }}</td>
        <td><a href="mailto:{{ t.email }}">{{ t.email }}</a></td>
        <td>
            {% for phone in t.phonenumber_set.all %}{{ phone }}<br>{% endfor %}
        </td>
    </tr>
    {% endfor %}
{% else %}

<div class="alert alert-danger" role="alert">
    Aucun résultat n'a été trouvé.
</div>

{% endif %}

{% endblock %}
