{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Sign in{% endblock %}

{% block body %}
<link href="{% static 'registration/signin.css' %}" rel="stylesheet">


<form class="form-signin" action="/login/" method="post">
    {% csrf_token %}
    <h2 class="form-signin-heading">Connection</h2>
    <input name="username" type="text" class="form-control" placeholder="Username" autofocus="">
    <input name="password" type="password" class="form-control password" placeholder="Mot de passe">
    <input name="next" type="hidden" value="{{ next }}">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
</form>


{% endblock %}
