{% extends 'base.html' %}


{% block title %}Page inconnue{% endblock %}

{% block content %}
<h1>Page inconnue</h1>
<p>La page que vous avez demandé n'a pas pu être trouvée.</p>

<a href="/">Retour à la page d'accueil</a>

{% endblock %}

