{% extends 'base.html' %}

{% block body %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid navbar-header">
        <a class="navbar-brand" href="/">Annuaire de l'AVMG</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Hello, {{ user.username }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                {% if user.is_superuser %}
                <li><a href="/admin/"><span class="glyphicon glyphicon-cog"></span> Administration</a></li>
                <li class="divider"></li>
                {% endif %}
                <li><a href="{% url 'django.contrib.auth.views.password_change' %}">Changer mon mot de passe</a></li>
                <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a></li>
            </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    {% block content %}

    {% endblock %}

</div>

{% endblock %}
